#
# .gitignore
#
# Copyright © 2016-2020 Netguru S.A. All rights reserved.
# Licensed under the MIT License.
#

.DS_Store
.localized

xcuserdata
profile
build
output
DerivedData
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.o
*.LinkFileList
*.hmap
*~.nib
*.swp
*.dat
*.dep

.idea
*.iml

Pods
Carthage
