//
// Base-Mappings.xcconfig
//
// Copyright © 2016-2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//
// This file contains mappings from abstract build settings defined in
// `Base-Common.xcconfig` to the real build settings.
//

// MARK: Environment

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(_ENVIRONMENT) $(inherited)

// MARK: Versioning

PRODUCT_BUNDLE_VERSION_STRING = $(_BUILD_VERSION)
PRODUCT_BUNDLE_VERSION = $(_BUILD_NUMBER)

// MARK: Bundle

PRODUCT_NAME = $(_BUNDLE_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(_BUNDLE_IDENTIFIER)
INFOPLIST_FILE = $(_BUNDLE_INFOPLIST_PATH)
ENABLE_TESTABILITY = $(_BUNDLE_TESTABLE)

// MARK: Deployment

TARGETED_DEVICE_FAMILY = $(_DEPLOYMENT_DEVICES)
IPHONEOS_DEPLOYMENT_TARGET = $(_DEPLOYMENT_VERSION)
MACOSX_DEPLOYMENT_TARGET = $(_DEPLOYMENT_VERSION)
TVOS_DEPLOYMENT_TARGET = $(_DEPLOYMENT_VERSION)
WATCHOS_DEPLOYMENT_TARGET = $(_DEPLOYMENT_VERSION)

// MARK: Code signing

DEVELOPMENT_TEAM = $(_CODESIGN_DEVELOPMENT_TEAM)
PROVISIONING_PROFILE_SPECIFIER = $(_CODESIGN_PROFILE_SPECIFIER)
CODE_SIGN_ENTITLEMENTS = $(_CODESIGN_ENTITLEMENTS_PATH)

// MARK: Compiling

SWIFT_VERSION = $(_COMPILER_SWIFT_VERSION)
OTHER_SWIFT_FLAGS = $(inherited) $(_COMPILER_SWIFT_FLAGS)

// MARK: Linking

FRAMEWORK_SEARCH_PATHS = $(inherited) $(_COMPILER_FRAMEWORK_SEARCH_PATHS)
HEADER_SEARCH_PATHS = $(inherited) $(_COMPILER_HEADER_SEARCH_PATHS)
OTHER_LDFLAGS = $(inherited) $(_COMPILER_LINKED_LIBRARIES)
