//
// Common-Base.xcconfig
//
// Copyright © 2016-2020 Netguru S.A. All rights reserved.
// Licensed under the MIT License.
//

// Imports

#include "Vendor/Common/Common.xcconfig"
#include "Vendor/Common/Carthage.xcconfig"

// MARK: Build

_BUILD_VERSION = 1.4.0

// MARK: Deployment

_DEPLOYMENT_TARGET_IOS = 8.0
_DEPLOYMENT_TARGET_MACOS = 10.10
_DEPLOYMENT_TARGET_TVOS = 9.0

// MARK: Compiler

_COMPILER_SWIFT_VERSION = 5.2
