//
// Tests-Base.xcconfig
//
// Copyright © 2016-2020 Netguru S.A. All rights reserved.
// Licensed under the MIT License.
//


// Imports

#include "../../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"

// Bundle

_BUNDLE_NAME = ResponseDetectiveTests
_BUNDLE_IDENTIFIER = co.netguru.lib.responsedetective.tests
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/ResponseDetective/Resources/Tests-Info.plist
