//
// Framework-macOS-Release.xcconfig
//
// Copyright (c) 2016-2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//

#include "Carthage/Checkouts/xcconfigs/Base/Configurations/Release.xcconfig"
#include "Carthage/Checkouts/xcconfigs/Mac OS X/Mac-Framework.xcconfig"
#include "Framework-Common.xcconfig"
