//
// Tests-OSX-Release.xcconfig
//
// Copyright (c) 2016 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//

#include "Carthage/Checkouts/xcconfigs/Base/Configurations/Test.xcconfig"
#include "Carthage/Checkouts/xcconfigs/Mac OS X/Mac-Application.xcconfig"
#include "Tests-Common.xcconfig"
